<div class="shopify-form">
  <h1>CONTACT US</h1>
    <p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>
    {% form 'contact' %}
      {{ form.errors | default_errors }}
    
      <div class="first-name">
        <label for="first-name">First name</label>
        <input type="text" name="contact[first_name]" id="first-name" />
      </div>
    
      <div class="last-name">
        <label for="last-name">Last name</label>
        <input type="text" name="contact[last_name]" id="last-name" />
      </div>
    
      <div class="phone">
        <label for="phone">Phone</label>
        <input type="tel" name="contact[phone]" id="phone" />
      </div>
    
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="contact[email]" id="email" />
      </div>
    
      <div class="order-number">
        <label for="order-number">Order number</label>
        <input type="text" name="contact[order_number]" id="order-number" />
      </div>
    
      <div class="message">
        <label for="message">Message</label>
        <textarea name="contact[body]" id="message"></textarea>
      </div>
    
      <div class="submit">
        <input type="submit" value="Create" />
      </div>
    {% endform %}
    
    
</div>




<style>
  .shopify-form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
  width: 300px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

</style>