// Input Field HTML

<div class="field">
          <input class="field__input" type="text" id="custom-question" name="contact[custom-question]" placeholder="Custom Question">
          <label class="field__label" for="custom-question">Custom Question</label>
        </div>



//Drop Down Menu HTML

<div class="field">
	<select id="request-type" name="contact[request_type]">
    <option>Returns</option>
    <option>Shipping</option>
    <option>Custom order</option>
    <option>Other</option>
  </select>
 </div>
 
//Drop Down Menu CSS

  #ContactForm .field select {
    position: initial;
    width: 100%;
    padding: 1.5rem;
    line-height: calc(1 + .5 / var(--font-body-scale));
    letter-spacing: .04rem;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    font-size: 1.6rem;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}

// Checkbox HTML

<div class="field checkbox">
  <label for="contact-time">When is the best time to reach you?</label>
	<input type="checkbox" name="contact[contact_time_1]" value="morning"><label for="Morning">Morning</label><br>
	<input type="checkbox" name="contact[contact_time_2]" value="evening"><label for="Evening">Evening</label><br>
	<input type="checkbox" name="contact[contact_time_3]" value="night"><label for="Night">Night</label>
</div>

// Checkbox CSS
  
#ContactForm .checkbox {

  padding: 10px 10px 10px 17px;
}


// Radio Buttons HTML

<div class="field radio-buttons">
  <label for="contact-method">How do you want us to contact you?</label>
  <input type="radio" name="contact[contact_method]" value="email" id="email"><label for="email">Email</label><br>
  <input type="radio" name="contact[contact_method]" value="phone" id="phone"><label for="phone">Phone</label><br>
  <input type="radio" name="contact[contact_method]" value="text message" id="text"><label for="text">Text message</label>
</div>

// Radio Buttons CSS
  
#ContactForm .radio-buttons {
padding: 10px 10px 10px 17px;
}