{% if section.blocks.size > 0 %}
  <div class="shopify-section mb-30 section-featured-collection-list">
    <div class="row full-width-row">
      <div class="small-12 columns">
        <featured-collection-list class="featured-collection-list section-spacing section-spacing--disable-top" style="height:500px;">
          {% for block in section.blocks %}
            <div class="featured-collection-list--bg">
              <img
                class="featured-collection-list--img active"
                src="{{block.settings.image | img_url:'500x500'}}"
                alt="">
            </div>
            <div class="featured-collection-list--inner content-middle-center collection-list-height">
              <div class="featured-collection-list--inner--content">
                <a href="{{ block.settings.collection_id.url}}" class="featured-collection-list--button">
                  <span class="h1-large collection-text-color">{{ block.settings.collection_id.title }}</span>
                </a>
              </div>
            </div>
          {% endfor %}
        </featured-collection-list>
      </div>
    </div>
    <link
      href="//cdn.shopify.com/s/files/1/0624/9329/4741/t/2/assets/featured-collection-list.css?v=82555395314405611551671039011"
      rel="stylesheet"
      type="text/css"
      media="all">
    <script src="//cdn.shopify.com/s/files/1/0624/9329/4741/t/2/assets/featured-collection-list.js?v=66048792836625681551671039011" defer="defer"></script>
  </div>
{% endif %}


<style>
  .collection-text-color {
    color: azure;
  }
  .featured-collection {
    overflow: hidden
  }
  @media only screen and (max-width: 767px) {
    .featured-collection .carousel__slide {
      width: calc(90vw - 15px)
    }
  }
  .featured-collection .products.row {
    padding: 0
  }
  @media only screen and (max-width: 767px) {
    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row {
      margin: 0 -15px;
      width: calc(100% + 30px);
      padding: 0 11px;
      display: grid;
      grid-gap: 0;
      grid-auto-flow: column;
      grid-auto-columns: minmax(50%, 1fr);
      overflow-x: auto;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      scroll-snap-type: x mandatory;
      scrollbar-width: none
    }
    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row::-webkit-scrollbar {
      display: none
    }
    .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row .columns {
      flex: 0 0 100%;
      max-width: 100%
    }
  }
  .featured-collection .text-center .button {
    margin-top: 10px
  }
  .featured-collection-list--bg img,
  .featured-collection-list--bg svg {
    transition: all 1s cubic-bezier(0.104, 0.204, 0.492, 1)
  }
  .featured-collection-list--button,
  .featured-collection-list--button span {
    transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1)
  }
  .section-featured-collection-list .row.full-width-row {
    padding: 0
  }
  .section-featured-collection-list .row.full-width-row > .columns {
    padding: 0
  }
  .featured-collection-list {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 15px
  }
  @media only screen and (min-width: 768px) {
    .featured-collection-list {
      padding: 50px
    }
  }
  .featured-collection-list--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none
  }
  .featured-collection-list--bg img,
  .featured-collection-list--bg svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: fit;
    opacity: 0;
    transform: scale(1.05);
    will-change: transform, opacity
  }
  .featured-collection-list--bg img.active,
  .featured-collection-list--bg svg.active {
    opacity: 1;
    transform: scale(1)
  }
  .featured-collection-list--bg:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(var(--overlay-color-rgb), 15%)
  }
  .featured-collection-list--inner {
    display: flex;
    position: relative;
    z-index: 20
  }
  .featured-collection-list--inner--content {
    max-width: 1000px;
    width: 100%
  }
  .featured-collection-list--inner.content-top-left {
    justify-content: flex-start;
    align-items: flex-start
  }
  .featured-collection-list--inner.content-top-center {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0 auto
  }
  .featured-collection-list--inner.content-top-right {
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    margin-left: auto
  }
  .featured-collection-list--inner.content-middle-left {
    justify-content: flex-start;
    align-items: center
  }
  .featured-collection-list--inner.content-middle-center {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto
  }
  .featured-collection-list--inner.content-middle-right {
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-left: auto
  }
  .featured-collection-list--inner.content-bottom-left {
    justify-content: flex-start;
    align-items: flex-end
  }
  .featured-collection-list--inner.content-bottom-center {
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin: 0 auto
  }
  .featured-collection-list--inner.content-bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-left: auto
  }
  .featured-collection-list--button {
    color: var(--color-text, #fff);
    font-weight: 600;
    font-size: 5rem;
    display: inline-flex;
    line-height: 1.1;
    text-transform: uppercase
  }
  .featured-collection-list--button div {
    color: inherit;
    margin-bottom: 0
  }
  .featured-collection-list--button span {
    color: inherit;
    transform-origin: left bottom;
    margin: 0.2em 0.4em
  }
  .featured-collection-list--button:hover,
  .featured-collection-list--button.active {
    color: var(--color-text, #fff)
  }
  .featured-collection-list--button:hover span,
  .featured-collection-list--button.active span {
    color: inherit;
    transform: skew(-10deg)
  }
  .featured-collection-list--button:not(.active) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-text, #fff)
  }
</style>
{% schema %}
  {
    "name": "Featured collection list",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "text-color",
        "label": "Text color"
      }, {
        "type": "color",
        "id": "overlay-color",
        "label": "Overlay Color"
      }
    ],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection-list",
        "limit": 5,
        "settings": [
          {
            "type": "collection",
            "id": "collection_id",
            "label": "Collection"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Custom Image",
            "info": "Optional image to use for this collection."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured collection list"
      }
    ]
  }
{% endschema %}