<div class="shopify-header">
  <div class="header-menu container grid">
    <div class="logo_img">
      <a href="/">
        {%- render 'image', mobileSrc: section.settings.logo_image, desktopSrc: section.settings.logo_image -%}
      </a>
    </div>
    <a href="#" class="toggle-button flex justify-between">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="shopify-header-menu">
      <ul>
        {% for link in section.settings.menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="cart-item">
      <div>
        {% render 'icon' with 'search' %}
      </div>
      <div>
        {% render 'icon' with 'account' %}
      </div>
      <div>
        {% render 'icon' with 'cart' %}
      </div>
    </div>
  </div>
</div>

{% style %}
  * {
    text-decoration: none;
    list-style: none;
  }
  body {
    margin: 0;
    padding: 0;
  }

  .header-menu {
    display: grid;
  }
  .shopify-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    padding: 1.5% 3%;
  }



  .shopify-header-menu {
    display: none;
    width: 100%
  }
  .shopify-header-menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .shopify-header-menu li a {
    color: #000000;
  }

  .logo_img {
    max-width: 220px;
    height: 100%;
  }

  .toggle-button {
    position: absolute;
    top: 7px;
    right: 20px;
    flex-direction: column;
    width: 30px;
    height: 20px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
  }

  .cart-item {
    display: none;
  }


  @media only screen and (min-width: 990px) {
    .header-menu {
      grid-template-columns: 1fr 2fr 1fr;
    }
    .toggle-button {
      display: none;
    }

    .shopify-header-menu {
      display: flex;
    }

    .shopify-header-menu ul {
      justify-content: center;
      flex-direction: row;
    }
    .shopify-header-menu li a {
      padding: 20px;
    }

    .cart-item {
      display: flex;
      justify-content: flex-end;
    }
    .cart-item svg {
      float: right;
      height: 100%;
      width: 50%;
    }

  }
{% endstyle %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "link_list",
        "id": "menu_mobile",
        "label": "Menu mobile"
      }
    ]
  }
{% endschema %}