

<div class="thb-form-container">
				<div class="thb-login-form" id="recover">
					<h4>Reset your password</h4>
					<p>We will send you an email to reset your password</p>
                  <form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓"><div class="field">
			        <input type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Email address" class="full">
			        <label for="RecoverEmail">
			          Email address
			        </label>
			      </div>
			      <button type="submit" class="button full"><span>Submit</span></button>
						<div class="switch-login-section">
				      <a href="#login" class="text-button">
				        Cancel
				      </a>
						</div></form>
                </div>
        <div class="thb-login-form" id="login">
          <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8" data-login-with-shop="true" novalidate="novalidate"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
						<h4>Login</h4>
						<p>If you have an account with us, please log in.</p>
						
            <div class="field">
              <input type="email" name="customer[email]" class="full " value="" autocomplete="email" autocorrect="off" autocapitalize="off" placeholder="Email address">
							 <label for="customer_email">Email address</label>
            </div>
            <div class="field">
							<input type="password" name="customer[password]" class="full " value="" placeholder="Password">
              <label for="customer_password">Password</label>
            </div>
            <div class="field">
              <button type="submit" class="button full"><span>Sign in</span></button>
            </div>
						<div class="switch-login-section">
							Don’t have an account? <a href="/account/register" class="text-button">Create an account</a>
							<div>
								<a href="#recover" class="text-button">Forgot your password?</a>
							</div>
						</div>
          </form>

        </div>
      </div>


















<style>
  .thb-form-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0
}
@media only screen and (min-width: 768px) {
    .thb-form-container {
        padding: 70px 0
    }
}
@media only screen and (min-width: 1068px) {
    .thb-form-container {
        padding: 100px 0
    }
}
@media only screen and (min-width: 768px) {
    .thb-form-container {
        flex-direction: row;
        justify-content: space-around
    }
}
.thb-form-container #recover {
    display: none
}
.thb-form-container #recover:target {
    display: block
}
.thb-form-container #recover:target + #login {
    display: none
}
.thb-form-container .thb-login-form,
.thb-form-container .thb-register-form {
    width: 100%;
    flex: 1;
    max-width: 640px;
    margin: 0 auto
}
@media only screen and (min-width: 768px) {
    .thb-form-container .thb-login-form,
    .thb-form-container .thb-register-form {
        padding: 0 30px
    }
}
@media only screen and (min-width: 1068px) {
    .thb-form-container .thb-login-form,
    .thb-form-container .thb-register-form {
        padding: 0 60px
    }
}
.thb-form-container .thb-login-form .form-notification,
.thb-form-container .thb-register-form .form-notification {
    margin-bottom: 15px
}
.thb-form-container .thb-login-form + .thb-register-form {
    margin-top: 60px
}
@media only screen and (min-width: 768px) {
    .thb-form-container .thb-login-form + .thb-register-form {
        margin-top: 0;
        border-left: 1px solid var(--color-border)
    }
}
.thb-form-container h4 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase
}
.thb-form-container p {
    font-size: .875rem;
    margin-bottom: 35px;
    text-align: center
}
.thb-form-container input {
    margin-bottom: 10px
}
.thb-form-container .button {
    margin-top: 10px
}
.thb-form-container .switch-login-section {
    text-align: center;
    font-size: .875rem;
    line-height: 1.75;
    margin-top: 15px
}
.thb-form-container .switch-login-section .text-button {
    display: inline;
    font-size: inherit;
    margin-right: 0
}
.thb-form-container .switch-login-section div {
    margin-top: 5px
}
.account-activate-buttons {
    display: flex;
    flex-direction: column;
    grid-gap: 10px
}
.account-activate-buttons .button {
    width: 100%
}
@media only screen and (min-width: 768px) {
    .account-activate-buttons {
        flex-direction: row
    }
}

</style>


{% comment %} <div class="thb-form-container mb-30">
<div class="shopify-form" id="login">
  <h1>LOGIN
    </h1>
    <p>If you have an account with us, please log in.

    </p>
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}
    
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="customer[email]">
      </div>
    
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="customer[password]">
      </div>
    
      <div class="submit">
        <input type="submit" value="Sign in">
        <div>              <a class="link" href="#recover">Forgot password?</a>
</div>
      </div>
    {% endform %}
        <p>Don’t have an account? 
<a href="{{ routes.account_register_url }}">
          Create an account
        </a>
      </p>
</div>

<div class="shopify-form" id="recover">
					<h4>Reset your password</h4>
					<p>We will send you an email to reset your password</p>
{% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="customer[password]">
  </div>

  <div class="password_confirm">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" name="customer[password_confirmation]">
  </div>

  <div class="submit">
    <input type="submit" value="Reset password">
  </div>
{% endform %}
</div>
</div>

<style>



.thb-form-container #recover {
    display: none;
}
    .thb-form-container #recover:target+#login {
    display: none;
}
  .thb-form-container #recover:target {
    display: block;
}
  .shopify-form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
  width: 300px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

</style> {% endcomment %}