<div class="shopify-form-container">
<div id="login">
  <h1>LOGIN
    </h1>
    <p>If you have an account with us, please log in.

    </p>
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}
    
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="customer[email]">
      </div>
    
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="customer[password]">
      </div>
    
      <div class="submit">
        <input type="submit" value="Sign in">
        <div>              <a class="link" href="#recover">Forgot password?</a>
</div>
      </div>
    {% endform %}
        <p>Don’t have an account? 
<a href="{{ routes.account_register_url }}">
          Create an account
        </a>
      </p>
</div>

<div class="" id="recover">
					<h4>Reset your password</h4>
					<p>We will send you an email to reset your password</p>
{% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="customer[password]">
  </div>

  <div class="password_confirm">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" name="customer[password_confirmation]">
  </div>

  <div class="submit">
    <input type="submit" value="Reset password">
  </div>
{% endform %}
</div>
</div>

<style>

 .shopify-form-container #recover{
    display:none;
  }
  .shopify-form-container#recover:target {
    display: block;
  }

  .shopify-form-container #recover:target+#login {
    display: none;
  .shopify-form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
  width: 300px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

</style>