


<div class="account-section page-width">
 <div class="flex justify-between">
    <h1>My Account</h1>
  <div>
    <a href={{ routes.account_logout_url }}>Logout</a>
    </div>
 </div>
  <ul>
    <li><a href="/account/orders">View my orders</a></li>
    <li><a href="/account/details">Edit my account information</a></li>
    <li><a href="/account/address">Edit my address book</a></li>
  </ul>
</div>