<div class="page-width center">
  <div class="collection-header">
    <h1>Shop By Collection</h1>
  </div>
  <div class="flex flex-wrap">
    {% for collection in collections %}
      <div class="collection-card"
       {% render "collection-card-section"%}
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .collection-card {
    margin: 20px;
  }
</style>