<div class="page-width center">
  <div class="collection-header">
    <h1>Shop By Collection</h1>
  </div>
  <div class="grid grid--2-col">
    {% for collection in collections %}
      <div class="collection-card">
        <div>
{% render 'image', class: 'media media--portrait collection_img', mobileSrc: collection.image, desktopSrc: collection.image %}
        </div>
        <h2>{{ collection.title }}</h2>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .collection_img{
    width:400px;
    height:400px;
  }
  .collection-card {
    margin: 20px;
  }
</style>