<div class="page-width center mb-30">
  <div class="collection-header">
    <h1>SHOP BY CATEGORY</h1>
  </div>
  <div class="grid grid--1-col grid--3-col-desktop">
    {% for collection in collections %}
      <div class="grid__item">
        <a href={{ collection.url }}><div class="collection-card">
{% render 'image', class: 'media media--portrait collection_img', mobileSrc: collection.image, desktopSrc: collection.image %}
        </div>
        <h2 class="collection-title">{{ collection.title }}</h2>
      </div></a>
    {% endfor %}
  </div>
</div>

<style>

  .collection_img{
    height:400px;
  }
.collection-card{
  position:relative;
}
  .collection-title{
    position:absolute;
  }
</style>