<style>
  /* Add CSS styles for the 404 page here */
  .notfound {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
  }
</style>

<div class="notfound">
  <h1>404 Error</h1>
  <p>Sorry, the page you were looking for could not be found.</p>
</div>
