<div class="not-found flex justify-center align-center">
  <h1>Page is NotFound, Check the Url you have Entered</h1>
  <div><a class="button button--secondary">Back to Home </a></div>
</div>

<style>
  .not-found{
    height:100vh;
  }
</style>