<div class="shopify-form">
  <h1>CREATE AN ACCOUNT

    </h1>
    <p>Enter your information below to proceed. If you already have an account, please log in instead.



    </p>
    {% form 'create_customer' %}
      {{ form.errors | default_errors }}
    
      <div class="first-name">
        <label for="first-name">First name</label>
        <input type="text" name="customer[first_name]">
      </div>
    
      <div class="last-name">
        <label for="last-name">Last name</label>
        <input type="text" name="customer[last_name]">
      </div>
    
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="customer[email]">
      </div>
    
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="customer[password]">
      </div>
    
      <div class="submit">
        <input type="submit" value="Create">
      </div>
    {% endform %}
         <p>Already have an account?
        <a href="{{ routes.account_login_url }}">
          Sign in
        </a>
      </p>
</div>




<style>
  .shopify-form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
  width: 300px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

</style>