<div class="shopify-form">
  <h1>CREATE AN ACCOUNT

    </h1>
    <p>Enter your information below to proceed. If you already have an account, please log in instead.



    </p>
 {% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="customer[password]">
  </div>

  <div class="password_confirm">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" name="customer[password_confirmation]">
  </div>

  <div class="submit">
    <input type="submit" value="Reset password">
  </div>
{% endform %}

</div>




<style>
  .shopify-form{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
  width: 300px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

</style>