<div class="page-width list-view-items">
  {% for item in search.results %}
  {% if item.object_type == 'product' and item.available == true %}
    <a href="{{ item.url }}" class="list-view-item">
      {% render 'product-card', product: item %}
    </a>
{% endif %}
{% endfor %}
</div>