<div class="page-width list-view-items">
  <div class="search-results flex">
  {% for item in search.results %}
  {% if item.object_type == 'product' and item.available == true %}
   <div class="flex__item">
      <a href="{{ item.url }}" class="list-view-item">
      {% render 'product-card', product: item %}
    </a>
   </div>
{% endif %}
{% endfor %}
</div>
</div>