/* hero banner */

.hero-banner__wrapper {
  position: relative;
}
.hero-banner__content {
  position: absolute;
  padding: 50px 20px;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  height: 100%;
  display: flex;
}
.hero-banner__content-child {
  width: 100%;
  max-width: 400px;
}
.hero-banner__backgroundimage img {
  height: 700px;
}
.hero-banner__heading h3{
  font-weight: 400;
}
.hero-banner__caption p{
  margin: 0;
}
.hero-banner__icon div {
  gap: 15px;
}
.hero-banner__icon p {
  white-space: nowrap;
}
.hero-banner__icon > div > img {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}
.hero-banner__icons {
  font-size: 12px;
  margin: 25px 0;
} 

/* collection-grids */

.collection-grid__wrapper{
  display: block;
  width: 100%;
  max-width: 446px;
  height: 100%;
  max-height: 426px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 15px;
}
.collection-grid_image{
  margin: 0 auto;
  height: 127px;
  width: 127px;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width:750px) {
  .collection-grid_image{
    height: 271px;
    width: 283px;
    max-width: 100%;
    max-height: 100%;
  }
}
.collection-grid_image img {
  transition: 1s ease;
}
.collection-grid_image img:hover{
  transform: scale(1.1);
  transition: 1s ease;
}
.collection-grid__overlay{
  margin-top: 20px;
}
/* 
image-with-text
*/
.image-with-text{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-height: 525px;
  max-width: 1440px;
  align-items: center;
}
.text-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-container__caption{
  display: none;
}
.text-container__heading{

}
.image-container{
  max-width: 50%;
  width: 100%;
  display: none;
}
.image-container__big-image{
  height: 500px;
  width: 500px;
}
.text-container__button{
  margin-top: 25px;
}
.text-container__image{
  width: 220px;
  height: 220px;
}
@media screen and (min-width: 750px) {
  .image-container{
    display: block;
  }
  .text-container{
    max-width: 50%;
    width: 100%;
    display: block;
    text-align: left;
  }
  .text-container__caption{
    display: block;
  }
  .left-switch {
    flex-direction: row-reverse;
  }
  .left-switch .image-container__big-image {
    margin-right: auto;
  }
  .right-switch {
    flex-direction: row;
  }
  .right-switch .image-container__big-image {
    margin-left: auto;
  }
}
.text-container__paragraph{
  margin-top: 20px;
}
.text-container__image, .image-container__big-image{
  object-fit: cover;
}
/* image with product */

@font-face {
  font-family: "ball-pen";
  src: url("{{ 'ball-pen.tff' | asset_url }}") format("ttf"),
     url("ball-pen.ttf") format("tff");
}

/* 
.image_product__maincontainer{
width: 100%;
height: auto;

}
.image_product__parent{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 2rem;
border-radius: 5px;
}
.image_product__textcontainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0 2rem 0 2rem;
line-height: 16px;
text-align: center;
}
.image_product__textcontainer>div>h2{
text-align: center;
}
.image_product__textcontainer>div>{
text-align: center;
}
.signature_text{
font-family: "Ball Pen";
}
.image_product__imageContainer{
width: auto;
height: auto;
display: flex;
justify-content: center;
}


@media(min-width: 740px){
.image_product__parent{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
  padding-left: 4rem;
  border-radius: 5px;
}
.image_product__textcontainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  line-height: 16px;
  text-align: left;
  width: 39%;
}
.image_product__textcontainer>div>h2{
  text-align: left;
}
.image_product__imageContainer{
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
}
} */

.image-product__wrapper{
border-radius: 6.7px;
}

.image-product__parent{
padding: 5rem 16px 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 7px;
}
.image-product__image{
width: 70%;
}
.flex__item1{
width: 100%;
display: flex;
justify-content: center;
}
.image-product__image>picture{
line-height: 0;
display: block;
}
.image-product__texts1{
width: 100%;
}
.image-product__heading{
font-size: 3rem;
text-align: center;
line-height: 3rem;
font-weight: 600;
}
.image-product__paragraph{
text-align: center;
font-size: 1.35rem;
line-height: 1.75rem;
}
.image-product__signature{
font-family: "ball-pen" !important;
margin: 3rem 0;
text-align: center;
font-size: 3rem;
}
.image-product__product{
display: none;
}



@media(min-width: 750px){
.image-product__parent{
  padding: 20px 60px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image-product__texts1{
  width: 75%;
  max-width: 25rem;
}
.image-product__image{
  width: 100%;
}
.flex__item1{
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-product__image>picture{
  line-height: 0;
  display: block;
}
.image-product__heading{
  font-size: 3rem;
  text-align: left;
  line-height: 3rem;
  font-weight: 600;
}
.image-product__paragraph{
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.image-product__signature{
  margin: 0rem 0;
  text-align: left;
  font-size: 2.5rem;
}
.image-product1__image{
  width: 98%;
}
.image-product__product{
  display: block;
  text-align: center;
  line-height: 1.8rem;
  color: white;
  text-decoration: none;
}
.image-product__product>a{
  color: white;
  font-size: 1.1rem;
}
}

@media(min-width: 750px){
.image-product__texts1{
  width: 75%;
  max-width: none;
}
}

/* image overlay grids */

.image-overlay {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.image-grids__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}

.image-grids__overlay--paragraph{
  font-size: 14px;
  color: #ffffff;
}
.image-grids__overlay--heading{
  font-size: 24px;
  color: #ffffff;
}

.image-block{
  border-radius: 10px;
}

/* product page */

.product-flex {
  display: flex;
  flex-wrap: wrap;  
  padding: 0 20px;
  max-width: 1300px;
  margin: 30px auto 50px;
}
.product-flexitem-images {
  width: 60%;
}
.product-flexitem-info {
  width: 40%;
  padding: 0 20px;
}
.product-media {
  position: relative;
  display: block;
  padding-bottom: 100%;
}
.product__media-list {
  margin-bottom: 30px;
}
.product__media-item {
  width: 100%;
}
.product-media img,
.product-media video,
.product-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__title {
  margin-bottom: 10px;
}
.product__prices {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.product__prices .price__regular {
  margin: 0;
}
.product__prices .price__regular.on-sale {
  font-weight: 600;
  font-size: 18px;
}
.product__prices .price__compare {
  color: #8d8d8d;
  margin-left: 10px;
  text-decoration: line-through;    
}
.product__prices .price__discount {
  margin-left: 10px;
  color: red;
}
.product__quantity {
  margin-bottom: 15px;
  display: flex;
}
.product__quantity .quantity__label {
  font-weight: 300;
  margin-right: 15px;
  margin-bottom: 5px;
}
.product__quantity .quantity__flex {
  display: flex;
  width: 140px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}
.product__quantity .quantity__button {
  background: transparent;
  width: 35px;
  flex-shrink: 0;
  font-size: 1.2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__quantity .quantity__input {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  -moz-appearance: textfield;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
.product__variant {
  margin-bottom: 15px;
}
.product__variant--label {
  font-weight: 600;
  margin-bottom: 5px;
}
.product__variant input[type=radio] {
  clip: rect(0,0,0,0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.product__variant input[type=radio] + label {
  margin-top: 5px;
  margin-right: 5px;
  padding: 4px 20px;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 20px;
  transition: 0.2s all ease;
}
.product__variant input[type=radio]:checked + label {
  color: #fff;
  background: #333;
}
.product__form {
  display: block;
  margin-top: 25px;
}
.product__form-buttons{
  display:flex;
}
.product__form-button {
  width: 50%;
  padding: 0.75rem 0;
  color: #333;
  background: transparent;
  font-weight: 600;
  font-size: 0.85rem;
  border: 1px solid #333;
  margin-right:10px;
  flex-grow: grow;
  border-radius:5px;
}
.product__form-button[disabled] {
  opacity: 0.5;
}
.shopify-payment-button {
  width: 50%;
}
.shopify-payment-button  .shopify-payment-button__button--unbranded{
  background-color: #000000;
}
.shopify-payment-button__more-options {
  display: none !important;
}
.product__description {
  margin: 20px 0;
}
.product__tab {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.product__tab + .product__tab {
  border-top: 0;
}
.product__tab-summary {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;
  padding: 1.2rem 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: space-between;
}
.product__tab-content {
  padding-bottom: 1.2rem;
}
.product__tab-icon svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentColor;
}
.product__tab details[open] .product__tab-icon svg {
  transform: rotate(180deg);
}
.product__form-error-message {
  margin-bottom: 10px;
  display: block;
  color: #c90000;
}

@media only screen and (max-width: 767px) {
  .product-flex { 
    padding: 0;
  	margin-top: 0;    
  }
  .product-flexitem-images,
  .product-flexitem-info  {
    width: 100%;
  }
}

.description-tabs {
  margin: 20px 0;
}
.description-tabs__header {
  display: flex;
  align-items: center;
  background-color: white;
  /* justify-content: space-between; */
}
.description-tabs__heading {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.2s ease;
}
.description-tabs__heading.is--active {
  font-weight: 600;
  background: white;
  border-bottom: 5px solid #000000;
}
.description-tabs__contents {
  padding: 15px;
}
.description-tabs__content:not(.is--active) {
  display: none;
}
.description-tabs__content ul {
  padding-left: 15px;
}
.description-tabs__content ul li {
  list-style-type: disc;
}
.product__badge {
  color: #fff;
  padding: 4px 15px;
  margin: 0 5px 10px 0;
  border-radius: 4px;  
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
}
.product__badge:nth-child(odd) {
  background: #ff7575;
}
.product__badge:nth-child(even) {
  background: #4ca54c;
}
/*------------------------------------------  
 * PRODUCT CARDS
 -----------------------------------------*/
.mm-product-card {
  width: 25%;
  flex: 0 0 25%;
  padding: 0 5px;
  margin-bottom: 20px;
}
.mm-product-card__wrap,
.mm-product-card__link {
  position: relative;
  display: block;
}
.mm-product-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mm-product-card__badges {
  position: absolute;
  top: 0.8rem;
}
.mm-product-card__badge {
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: 600;
  color: #fff;
}
.mm-product-card__badge.on-sale {
  background: #ff5b5b; 
}
.mm-product-card__badge.sold-out {
  background: #303030;
}
.mm-product-card__info {
  padding-top: 15px;
}
.mm-product-card__prices {
  margin-bottom: 10px;
}
.mm-product-card__price.on-sale {
  color: #dc0000; 
}
.mm-product-card__compareprice {
  color: #8b8b8b;
  margin-left: 10px;
  font-size: 0.9rem;
  text-decoration: line-through;  
}

@media only screen and (max-width: 767px) {
  .mm-product-card {
    width: 50%;
    flex: 0 0 50%;
  }
}


/*------------------------------------------  
 * UPSELL PRODUCTS
 -----------------------------------------*/
.mm-upsell {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1300px;
}
.mm-upsell__title {
  font-size: 1.2rem;
  letter-spacing: .1em;
  margin-bottom: 15px;
}
.mm-upsell__products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.bundle-product{
 display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
/*------------------------------------------ 
 * PRODUCT RECOMMENDATIONS 
 -----------------------------------------*/
.mm-recommendations {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1300px;
}
.mm-recommendations__title {
  font-size: 1.2rem;
  letter-spacing: .1em;
  margin-bottom: 15px;
  text-transform: uppercase; 
}
.mm-recommendations__products {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0 -5px;
}
@media screen and (max-width: 790px){
  .mm-recommendations__products {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 -5px;
  }
}

/*------------------------------------------  
 * RECENTLY VIEWED PRODUCTS
 -----------------------------------------*/
.mm-recentlyviewed {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1300px;
}
.mm-recentlyviewed__title {
  font-size: 1.2rem;
  letter-spacing: .1em;
  margin-bottom: 15px;
  text-transform: uppercase; 
}
.mm-recentlyviewed__products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
/* meta features */
.meta-feature__item{
  display:flex;
  width:40%;
}
.meta_img{
  margin-right:8px;
  padding-top: 11px;
  height:18px;
  width:18px;
  
}
.feature{
  white-space: nowrap;
  color: #2d5590;
  font-size: 12px;
}
/* faqs */
details > summary {
  list-style: none;
}
details {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 55em;
  max-width: calc(100% - 2rem);
  position: relative;
  border-radius: 6px;
  background-color: #F4FCF9;
  color: #263238;
  transition: background-color .15s;
}
details::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: .15;
  pointer-events: none;
  transition: opacity .2s;
  z-index: -1;
}
details[open] {
  background-color: #FBFBFB;
  border: 1px solid #F4FCF9;
}
summary {
  padding: 1rem 2em 1rem 0;
  display: block;
  position: relative;
  font-size: 1.33em;
  font-weight: 600;
  cursor: pointer;
}
summary::before,
summary::after {
  width: .75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  background-color: currentColor;
  text-align: right;
  transform: translateY(-50%);
  transition: transform .2s ease-in-out;
}
summary::after {
  transform: translateY(-50%) rotate(90deg);
}
[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}
/* extra */
.flex-column{
  display:flex;
  flex-direction: column;
}
 input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}
/* blog */
.blog-banner {
  position: relative;
}
.blog-banner__content{
  position: absolute;
  padding: 40px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: auto;
}
.blog-banner__content-child {
  max-width: 450px;
  width: 100%;
}
.blog-banner__heading {
  font-size: 32px;
}
.blog-banner__heading p {
  margin: 0;
}
@media screen and (min-width: 750px) {
  .blog-banner__content{
    padding: 20px 20px;
  }
}
/* main blog */


/* filters */
.collection-filters{
  display:flex;
}

/* article */

.article-card__link h5{
  color:#395f97;
}
.article-card__link h5{
  position: relative;
}
.article-card__link h5::after{
  content: '';
  background: url('https://cdn.shopify.com/s/files/1/0666/4775/2940/files/Know_more_icon_2x_7e8f2b47-c8fa-4f2e-8359-20fecdb0209e.png?v=1667278673');
  position: absolute;
  width: 13px;  
  height: 13px;
  background-size: contain;
  top: 3px;
  left: 92px;
}
