.blog-posts__subheading{
  font-size:1.7rem;
}
.link{
  font-size:1.5rem;
  cursor: pointer;
  line-height: normal;
  height: 1.1rem;
  border-bottom:2px solid;
  color:var(--color-heading-text);
}
.blog-posts-item{
   padding: 0 10px;
  width: 100%;
}

.blog-posts{
    margin: 0 -10px;

}


@media only screen and (min-width: 990px) {
  .featured-collection__slideritem {
    width: 33%;
  }